<!DOCTYPE html>
<html>
<head>
    <title>Pub of the Year Contest</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
</head>
<body>
<div id="masthead">
<h1>The Campaign for Real Ale</h1>
<div id="nav"
<p class="navigation"><a href="/">Home</a> | <a href="/votes">Enter Votes</a> | <a href="/admin">Admin area</a></p>
</div>
</div>

<div id="main_content">

<%= yield %>

</div>

</body>
</html>