
<p><strong>Note!</strong> Please use a double apostrophe when an apostrophe occurs in a pub name; for example: "King''s Wark"</p>
<form action="/admin/pubs" method="post">
<p>
    <label for="name">Name:</label> <br>
    <input type="text" name="name" autofocus id="name" size="50">
</p>
<p>
    <label for="postcode">Postcode: <br>
    <input type="text" name="postcode" id="postcode" size="10">
    <input type="hidden" name="registered" value= "false">
</p>

<p><input type="submit"></p>

</form>