<h2>Too Many Votes</h2>

<p>You have entered more than 3 votes. </p>

<p>Use your BACK BUTTON to return to the ballot page and vote again.</p>

<p>Please ensure you do not choose more than 3 pubs.</p>


